<div class="container">
    <div class="hotel-container">
        <div class="hotel-header">
            <div class="hotel-type">
                Hotel
            </div>
            <div class="hotel-name">
                {{accommodation.accommodationInfo.accommodationName}}
            </div>
            <div class="star-bar">
                {{accommodation.accommodationInfo.countStar}}
                <mat-icon>star</mat-icon>
            </div>
        </div>
        <div class="address-info">
            <div class="address">
                {{accommodation.accommodationInfo.accommodationCountry}}/ {{accommodation.accommodationInfo.accommodationCity}}/ {{accommodation.accommodationInfo.accommodationStreet}}
            </div>
            <div class="show-map-button">

            </div>
        </div>
        <div class="hotel-image-corrusel">
            <div class="hotel-image-corrusel-big-image">
                <img src="{{accommodation.imageId}}">
            </div>
        </div>
        <mat-tab-group class="hotel-tabs" color ="accent">
            <mat-tab label="Информация о варианте и стоимости">
                <div class="info-content">
                   {{accommodation.accommodationInfo.accommodationDesc}}
                </div>
            </mat-tab>
            <mat-tab label = "Удобства и услуги">
                <div class="characteristic-container">
                    <div class="characteristic" *ngFor="let item of accommodation.characteristicList">
                        <!-- <mat-icon>local_florist</mat-icon> -->
                        <div class="characteristic-header">
                            {{item.name}}
                        </div>
                        <ul>
                            <li *ngFor="let child of item.characteristicChildren">{{child.childName}}</li>
                        </ul>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label = "Условия размещения">
                <div class="stayterms-container">
                    <div class="stayterms">
                        <mat-icon>how_to_reg</mat-icon>
                        <div class="stayterms-header">
                            Условия размещения
                        </div>
                        <ul>
                            <li>Заезд: c 14:00</li>
                            <li>Отъезд: до 12:00</li>
                        </ul>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label = "Отзывы гостей">
                info
            </mat-tab>
            
        </mat-tab-group>
        <mat-card>
            <mat-list>
                <mat-list-item *ngFor="let item of accommodation.rooms">
                    <div>
                        {{item.roomDescription}}  {{item.roomCost}}$
                    </div>
                    <button mat-button (click)="reservRoom(item.id)">reserv this room</button>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>