<div class="container">
    <!-- <div class="recomendationCardContainer">
        <div id="mapContainer" class="recomendationCard"role="cell" tabindex="0" ></div>
    </div> -->
    <div class="hotelCardContainer" *ngFor="let item of cityList">
        <div class="hotelCard" role="cell" tabindex="0">
            <img class="cardImage" src="https://ic.pics.livejournal.com/sergeynikmelnik/49102963/183816/183816_original.jpg">
            <div class="cardDescription"><p>{{item}}</p></div>
        </div>
    </div>
</div>
