<mat-card class="container">
    <mat-action-row>
        <button mat-button (click)="createNew()">Create new Accommodation</button>
        <button mat-button>Expand All</button>
        <button mat-button>Collapse All</button>
    </mat-action-row>

    <mat-selection-list #accommodation [multiple]="false">
        <mat-list-option *ngFor="let item of accommodations" (click)="goToDetails(item.accommodationId)">
            {{item.accommodationInfo.accommodationName}}
            {{item.accommodationInfo.accommodationCountry}}
        </mat-list-option>
    </mat-selection-list>
</mat-card>