<div class="container">
    <div class="navbarContainer" role="tablist" >
        <div class="logo" role="tab" tabindex="0">Booking</div>
        
        <div class="navbaritem" >
             <mat-icon aria-hidden="false">business</mat-icon>
             <div role="tab" tabindex="0">Accomodations</div>
        </div>
        <div class="navbaritem">
            <mat-icon aria-hidden="false">commute</mat-icon>
            <div role="tab" tabindex="0">Airport Taxis</div>
        </div>
    </div>
    <div class="loginContainer">
        <div *ngIf="!isLogin" class="signUp" tabindex="0" role="button" (click)="signUp()">Sign Up</div>
        <div *ngIf="!isLogin" class="signIn" tabindex="0" role="button" (click)="login()">Sign In</div>
        <div *ngIf="isLogin" class="signIn" tabindex="0" role="button" (click)="logout()">Log Out</div>
    </div>
</div>