<div class="container">
    <div class="navbarContainer" role="tablist" >
        <div class="logo" role="tab" tabindex="0">Booking</div>
        
        <div class="navbaritem" >
             <mat-icon aria-hidden="false">home</mat-icon>
             <div role="tab" tabindex="0">Accomodations</div>
        </div>
        <div class="navbaritem">
            <mat-icon aria-hidden="false">commute</mat-icon>
            <div role="tab" tabindex="0">Airport Taxis</div>
        </div>
    </div>
    <div class="loginContainer">
        <div class="signUp" tabindex="0" role="button">Sign Up</div>
        <div class="signIn" tabindex="0" role="button">Sign In</div>
    </div>
</div>